main section#calc-body {
  padding: 12px 14px;
}

div#display input,
div#display p {
  letter-spacing: 0.75px;
}

div#display input {
  width: 226.75px;
  height: 54.75px;
  padding: 0 8px 0 4px;

  text-align: right;
  font-size: 20px;

  background-color: var(--input-background);
  color: var(--input-text);

  border: none;
  border-radius: 2px;
  cursor: default;
}

div#display input::placeholder {
  color: var(--input-text);
}

div#display input.stretch {
  height: 60px;
  width: 100%;
}

div#display input.has-result {
  height: 32px;
  border-radius: 2px 2px 0 0;
  padding-top: 4px;
}

div#display input.has-result.stretch {
  height: 33px;
  padding-top: 6px;
}

div#display div#result-container {
  text-align: right;
  padding: 0 8px 4px 4px;
  background-color: var(--input-background);
  border-radius: 0 0 2px 2px;
}

div.stretch {
  display: flex;
  align-items: center;
}

div#display div#result-container.stretch {
  height: 27px;
  padding-bottom: 6px;
}

div#result-container p {
  max-width: 214.75px;
  color: var(--p-text);

  cursor: default;
  white-space: nowrap;
  border-radius: 8px;
  overflow-x: auto;
}

div#result-container p.stretch {
  width: 100%;
  max-width: 279px;
}

div#result-container p::-webkit-scrollbar {
  display: none;
}

.has-transition {
  transition-duration: 0.25s;
}

section#calc-body div#buttons-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "top-row-container top-row-container"
    "main-container side-container";
  margin-top: 20px;
}

div#buttons-wrapper div {
  cursor: default;
}

div#buttons-wrapper button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-shadow: 0 0 2px var(--button-border);

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;

  color: var(--button-text);
  background-color: var(--button-background);
  transition-duration: 0.25s;
}

div#buttons-wrapper button.letter-spacing {
  letter-spacing: 0.75px;
}

div#buttons-wrapper button.colorized-button {
  background-color: var(--colorized-button-background);
}

div#buttons-wrapper button.colorized-icon-button {
  font-size: 19px;
}

div#buttons-wrapper button:hover {
  filter: brightness(0.97);
  transform: scale(1.05);
}

div#buttons-wrapper button:active {
  transform: scale(0.95);
}

.top-row-container {
  grid-area: top-row-container;
  display: flex;

  margin-bottom: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--header-line);
}

div.top-row-container div.left-column div + div {
  margin-top: 6px;
}

div.left-column button + button,
div#main-container button + button {
  margin-left: 2px;
}

div.top-row-container div.right-column {
  margin-left: 6px;
  padding-left: 6px;
  border-left: 1px solid var(--header-line);
}

div.right-column,
.side-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

div#buttons-wrapper div#main-container {
  grid-area: main-container;
}

div#main-container div + div {
  margin-top: 6px;
}

div#main-container div:first-child {
  display: flex;
  align-items: center;
  gap: 6px;
}

div#main-container div:first-child button {
  margin-left: 0;
}

div#main-container div:last-child button {
  box-shadow: 0 0 1.5px var(--button-border);
}

div#main-container div:last-child button:first-child {
  width: 48.55%;
  border-radius: 25px;
}

div#buttons-wrapper div.side-container {
  grid-area: side-container;

  margin-left: 6px;
  padding-left: 6px;
  border-left: 1px solid var(--header-line);
}
