main header {
  display: flex;
  justify-content: flex-end;

  padding: 12px 14px 10px;
  border-bottom: 1px solid var(--header-line);
}

header.space-between {
  justify-content: space-between;
}

.expression-actions-container,
div#conversion-container {
  display: flex;
}

div.expression-actions-container button {
  background-color: var(--mode-button-background);
  color: var(--mode-button-text);

  border: none;
  border-radius: 2px;

  padding: 4px 8px;
  font-size: 14.35px;
  font-weight: 500;
  letter-spacing: 0.75px;
}

div.expression-actions-container button:hover {
  filter: brightness(0.95);
}

div#conversion-container {
  align-items: center;
  gap: 8px;

  margin-left: 6px;
  padding-left: 6px;
  border-left: 0.5px solid var(--header-line);
}

div#conversion-container i {
  color: var(--input-background);
  font-size: 14px;
}

div#interface-actions-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
}

div#interface-actions-container button {
  color: var(--input-background);
  background-color: transparent;
  font-size: 17.5px;
}

button.interaction-button {
  transition-duration: 0.15s;
}

button.interaction-button:active {
  transform: scale(0.97);
}

div#interface-actions-container div#options-box {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;

  width: 152px;
  padding: 6px;
  background-color: var(--input-background);
  border-radius: 4px;
  border: 1px solid var(--button-text);
  overflow-x: auto;
}

div#options-box h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--calc-background);
}

div#options-box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5px;
}

div#options-box div button {
  position: relative;
  width: 100%;
  height: 39.25px;

  font-size: 16px;
  font-weight: 500;
  background-color: var(--calc-background);
  color: var(--mode-button-text);

  border: 2px solid var(--colorized-button-background);
  border-radius: 6px;
}

div#options-box div button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;

  background-color: var(--button-background-effect);
  border-radius: 4px;
  transition-duration: 1s;
}

div#options-box div button:hover::before {
  width: 100%;
}

div#options-box div span {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 16px;
}
