* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  --calc-background: #f5f5f5;
  --mode-button-text: #404040;
  --mode-button-background: #dfdfdf;
  --header-line: #e6e6e6;
  --input-text: #f0f0f0;
  --input-background: #454545;
  --p-text: #d5d5d5;
  --button-text: #f057d6;
  --button-background: #ececec; /* #292929 */
  --button-background-effect: #c5c5c5;
  --colorized-button-background: #2a005a;
  --button-border: #977ac9;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("../assets/background-md.jpg");
  background-size: cover;
  font-size: 16px;
  padding: 12px 0;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #858585;
}

body::-webkit-scrollbar-track {
  background-color: #404040;
}

.dark-theme {
  --calc-background: #3c3c3c;
  --mode-button-text: #fcfcfc;
  --mode-button-background: #606060;
  --header-line: #484848;
  --input-text: #505050;
  --input-background: #f6f6f6;
  --p-text: #787878;
  --button-text: #b113b1; /* #f329a6 */
  --button-background-effect: #606060;
  --colorized-button-background: #03ffff; /* #2e96f7 #01c0a0 */
  --button-border: #a1e7dd; /* #9fcff3 */
}

button {
  cursor: pointer;
  border: none;
}

body main {
  background-color: var(--calc-background);
  border-radius: 6px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);

  animation: show-up 1.5s;
  transition-duration: 0.25s;
}

@keyframes show-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.invisible {
  display: none;
}
